<div class="portada">
    <div>
        <img src="../../assets/paco.png" alt="cargando" srcset="" class="img-user">
        <p>
            Hola, soy Francisco Javier Medina Muñoz. Estudiando el último semestre de Ingeniería en Sistemas 
            Computacionales en la Universidad Autónoma de Aguascalientes. Me estoy especializando para ser 
            desarrollador Full Stack, con cursos de <a href="https://codigofacilito.com/usuarios/pacomedinamz">
            código facilito</a>  y <a href="https://www.udemy.com/user/francisco-javier-medina-munoz/">Udemy</a>. 
            Ademas, de cumplir mi <a href="#pdf">plan de estudios.</a>
        </p>
    </div>       
 </div>