.portada {
    color: #fff;
    background-color:  #021528 ;
    /*background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;*/
    width: 100%;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: -1px;
}