<div class="portada">
    <h1>Work</h1>
    <div style="padding: 20px;">
      <h3>Front-end</h3>
 
      <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">CSS</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JavaScript</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">HTML</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JQuery</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  
    <div style="padding: 20px;">
      <h3>Back-End</h3>
      <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Express</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Node JS</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Php</h5>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>

      </div>
  </div>

  <div style="padding: 20px;">
    <h3>Base de datos</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mongo DB</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">MySQL</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h3>Aplicaciones móviles</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">React Native</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Kotlin</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h3>Control de versiones</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Git</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">GitHub</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h3>Metodologías</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">UML</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">MVC</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Agiles</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">RUP</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h3>Sistemas operativos</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Linux</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Windows</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unix</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h3>Aplicaciones de escritorio</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">C</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">C++</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Java</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">C#</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h3>Electrónica</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">IoT</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Speak Things</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Arduino</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 15px;">
    <h3>Redes</h3>
    <div class="row row-cols-2 row-cols-sm-4  row-cols-md-5 row-cols-lg-6 g-4">

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Instalación de redes</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subneteo</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">IPv4</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">IPv6</h5>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>